<app-page title="Search Customer">
  <app-form-alert
    *ngIf="error$ | async"
    [message]="(error$ | async).message"
  ></app-form-alert>
  <app-customer-search
    [customerItems]="customerItems$ | async"
    [isLoading]="isLoading$ | async"
    [createAction]="true"
    [editAction]="true"
    [deleteAction]="true"
    (onEditCustomer)="onEditCustomerAction($event)"
    (onDeleteCustomer)="onDeleteCustomerAction($event)"
  ></app-customer-search>
</app-page>

<app-modal-alert
  title="Delete Customer"
  message="Are you want to Delete this Customer?"
  [isAlertVisible]="isDeleteAlertVisible"
  (onClickOk)="onConfirmDeleteCustomerAlert()"
  (onClickCancel)="onCancelDeleteCustomerAlert()"
></app-modal-alert>
