<app-page title="Create Customer">
  <app-form-alert
    *ngIf="error$ | async"
    [message]="(error$ | async).message"
  ></app-form-alert>
  <form
    clrForm
    clrLayout="vertical"
    [ngrxFormState]="formCustomerState$ | async"
    (submit)="submit()"
  >
    <div class="card">
      <div class="card-block">
        <clr-input-container>
          <label class="clr-col-12 clr-col-md-4">ID</label>
          <input
            clrInput
            type="text"
            name="customer_id"
            [ngrxFormControlState]="(formCustomerState$ | async).controls.id"
            class="clr-col-12 clr-col-md-8"
          />
          <clr-control-error
            *ngIf="(formCustomerState$ | async).errors._id?.required"
            >Required field</clr-control-error
          >
          <clr-control-error
            *ngIf="(formCustomerState$ | async).errors._id?.maxLength"
            >Maximum Character Limit Exceeded</clr-control-error
          >
        </clr-input-container>

        <clr-input-container>
          <label class="clr-col-12 clr-col-md-4">Name</label>
          <input
            clrInput
            type="text"
            name="customer_name"
            [ngrxFormControlState]="(formCustomerState$ | async).controls.name"
            class="clr-col-12 clr-col-md-8"
          />
          <clr-control-error
            *ngIf="(formCustomerState$ | async).errors._name?.required"
            >Required field</clr-control-error
          >
          <clr-control-error
            *ngIf="(formCustomerState$ | async).errors._name?.maxLength"
            >Maximum Character Limit Exceeded</clr-control-error
          >
        </clr-input-container>

        <clr-textarea-container>
          <label class="clr-col-12 clr-col-md-4">Description</label>
          <textarea
            clrTextarea
            type="text"
            name="customer_description"
            [ngrxFormControlState]="
              (formCustomerState$ | async).controls.description
            "
            class="clr-col-12 clr-col-md-8"
          ></textarea>
          <clr-control-error
            *ngIf="(formCustomerState$ | async).errors._description?.required"
            >Required field</clr-control-error
          >
          <clr-control-error
            *ngIf="(formCustomerState$ | async).errors._description?.maxLength"
            >Maximum Character Limit Exceeded</clr-control-error
          >
        </clr-textarea-container>

        <clr-date-container>
          <label class="clr-col-12 clr-col-md-4">Created date</label>
          <input
            clrDate
            type="date"
            name="customer_created_date"
            [ngrxFormControlState]="
              (formCustomerState$ | async).controls.created_date
            "
            class="clr-col-12 clr-col-md-8"
          />
          <clr-control-error
            *ngIf="(formCustomerState$ | async).errors._created_date?.required"
            >Required field</clr-control-error
          >
        </clr-date-container>

        <!-- <ngrx-input
          name="customer_id"
          label="ID"
          [ngrxFormControlState]="(formCustomerState$ | async).controls.name"
        ></ngrx-input> -->
      </div>
      <div class="card-footer">
        <button
          class="btn btn-primary"
          type="submit"
          [clrLoading]="submitBtnState$ | async"
        >
          <clr-icon shape="floppy"></clr-icon>
          Save
        </button>
        <button
          class="btn"
          type="button"
          (click)="resetForm()"
          [disabled]="
            (formCustomerState$ | async).isPristine &&
            (formCustomerState$ | async).isUntouched &&
            (formCustomerState$ | async).isUnsubmitted
          "
        >
          <clr-icon shape="eraser"></clr-icon>
          Reset
        </button>
      </div>
    </div>
  </form>
</app-page>
