<app-page title="Search Customer">
  <clr-datagrid>
    <clr-dg-placeholder>No se encontraron elementos.</clr-dg-placeholder>
    <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>

    <clr-dg-row
      *clrDgItems="let customer of customerItems$ | async"
      [clrDgItem]="customer"
    >
      <clr-dg-action-overflow>
        <button class="action-item" (click)="onEdit(user)">Edit</button>
        <button class="action-item" (click)="onDelete(user)">Delete</button>
      </clr-dg-action-overflow>
      <clr-dg-cell>{{ customer.id }}</clr-dg-cell>
      <clr-dg-cell>{{ customer.name }}</clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
</app-page>
