<app-page title="Update Customer">
  <app-form-alert
    *ngIf="error$ | async"
    [message]="(error$ | async).message"
  ></app-form-alert>
  <form
    clrForm
    clrLayout="vertical"
    [ngrxFormState]="formCustomerState$ | async"
    (submit)="submit()"
    autocomplete="off"
  >
    <div class="card">
      <div class="clr-col-md-10 clr-offset-md-1">
        <div class="card-block">
          <clr-input-container>
            <label>ID</label>
            <input
              type="text"
              clrInput
              [ngrxFormControlState]="(formCustomerState$ | async).controls.id"
            />
            <clr-control-error>Required field</clr-control-error>
          </clr-input-container>

          <clr-input-container>
            <label>Name</label>
            <input
              type="text"
              clrInput
              [ngrxFormControlState]="
                (formCustomerState$ | async).controls.name
              "
            />
            <clr-control-error
              *clrIfError="(formCustomerState$ | async).errors._name?.required"
              >Requiered field</clr-control-error
            >
          </clr-input-container>

          <clr-textarea-container>
            <label>Description</label>
            <textarea
              clrTextarea
              type="text"
              name="customer_description"
              [ngrxFormControlState]="
                (formCustomerState$ | async).controls.description
              "
            ></textarea>
            <clr-control-error
              *ngIf="(formCustomerState$ | async).errors._description?.required"
              >Required field</clr-control-error
            >
            <clr-control-error
              *ngIf="
                (formCustomerState$ | async).errors._description?.maxLength
              "
              >Maximum Character Limit Exceeded</clr-control-error
            >
          </clr-textarea-container>

          <clr-input-container>
            <label>Email</label>
            <input
              type="email"
              clrInput
              [ngrxFormControlState]="
                (formCustomerState$ | async).controls.email
              "
            />
            <clr-control-error
              *ngIf="(formCustomerState$ | async).errors._email?.required"
              >Required field</clr-control-error
            >
            <clr-control-error
              *ngIf="(formCustomerState$ | async).errors._email?.email"
              >Invalid email</clr-control-error
            >
            <clr-control-error
              *ngIf="(formCustomerState$ | async).errors._email?.maxLength"
              >Maximum Character Limit Exceeded</clr-control-error
            >
          </clr-input-container>

          <clr-date-container>
            <label>Created date</label>
            <input
              clrDate
              type="date"
              name="customer_created_date"
              [ngrxFormControlState]="
                (formCustomerState$ | async).controls.created_date
              "
              (clrDateChange)="onCreatedDateSelected($event)"
            />
            <clr-control-error
              *ngIf="
                (formCustomerState$ | async).errors._created_date?.required
              "
              >Required field</clr-control-error
            >
          </clr-date-container>

          <clr-input-container>
            <label>Orders count</label>
            <input
              type="text"
              clrInput
              [ngrxFormControlState]="
                (formCustomerState$ | async).controls.orders_count
              "
            />
            <clr-control-error
              *ngIf="
                (formCustomerState$ | async).errors._orders_count?.required
              "
              >Required field</clr-control-error
            >
            <clr-control-error
              *ngIf="
                (formCustomerState$ | async).errors._orders_count?.greaterThan
              "
              >Value must be greater than
              {{
                (formCustomerState$ | async).errors._orders_count?.greaterThan
                  .comparand
              }}</clr-control-error
            >
            <clr-control-error
              *ngIf="
                (formCustomerState$ | async).errors._orders_count?.lessThan
              "
              >Value must be less than
              {{
                (formCustomerState$ | async).errors._orders_count?.lessThan
                  .comparand
              }}</clr-control-error
            >
          </clr-input-container>

          <clr-input-container>
            <label>Max quantity</label>
            <input
              type="text"
              clrInput
              [ngrxFormControlState]="
                (formCustomerState$ | async).controls.max_quantity
              "
            />
            <clr-control-error
              *ngIf="
                (formCustomerState$ | async).errors._max_quantity?.required
              "
              >Required field</clr-control-error
            >
            <clr-control-error
              *ngIf="
                (formCustomerState$ | async).errors._max_quantity?.greaterThan
              "
              >Value must be greater than
              {{
                (formCustomerState$ | async).errors._max_quantity?.greaterThan
                  .comparand
              }}</clr-control-error
            >
            <clr-control-error
              *ngIf="
                (formCustomerState$ | async).errors._max_quantity?.lessThan
              "
              >Value must be less than
              {{
                (formCustomerState$ | async).errors._max_quantity?.lessThan
                  .comparand
              }}</clr-control-error
            >
          </clr-input-container>

          <clr-radio-container>
            <label>Type</label>
            <clr-radio-wrapper>
              <input
                type="radio"
                clrRadio
                name="type"
                value="Regular"
                [ngrxFormControlState]="
                  (formCustomerState$ | async).controls.type
                "
              />
              <label>Normal</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
              <input
                type="radio"
                clrRadio
                name="type"
                value="Vip"
                [ngrxFormControlState]="
                  (formCustomerState$ | async).controls.type
                "
              />
              <label>VIP</label>
            </clr-radio-wrapper>
            <clr-control-error>Required field</clr-control-error>
          </clr-radio-container>

          <clr-select-container>
            <label>Country</label>
            <select
              clrSelect
              name="country"
              [ngrxFormControlState]="
                (formCustomerState$ | async).controls.country
              "
            >
              <option value="one">One</option>
              <option value="two">Two</option>
              <option value="three">Three</option>
            </select>
            <clr-control-error>Required field</clr-control-error>
          </clr-select-container>

          <clr-toggle-container>
            <clr-toggle-wrapper>
              <input
                type="checkbox"
                clrToggle
                name="enabled"
                value="enabled"
                [ngrxFormControlState]="
                  (formCustomerState$ | async).controls.enabled
                "
              />
              <label>Enabled</label>
            </clr-toggle-wrapper>
            <clr-control-error>Required field</clr-control-error>
          </clr-toggle-container>

          <clr-checkbox-container>
            <label>Product types</label>
            <clr-checkbox-wrapper>
              <input
                type="checkbox"
                clrCheckbox
                name="product_types"
                value="product01"
              />
              <label>Product 1</label>
            </clr-checkbox-wrapper>
            <clr-checkbox-wrapper>
              <input
                type="checkbox"
                clrCheckbox
                name="product_types"
                value="product02"
              />
              <label>Product 2</label>
            </clr-checkbox-wrapper>
            <clr-control-error>Required field</clr-control-error>
          </clr-checkbox-container>

          <clr-input-container>
            <label>Max amount</label>
            <input
              type="text"
              clrInput
              [ngrxFormControlState]="
                (formCustomerState$ | async).controls.max_amount
              "
            />
            <clr-control-error
              *ngIf="(formCustomerState$ | async).errors._max_amount?.required"
              >Required field</clr-control-error
            >
            <clr-control-error
              *ngIf="
                (formCustomerState$ | async).errors._max_amount?.greaterThan
              "
              >Value must be greater than
              {{
                (formCustomerState$ | async).errors._max_amount?.greaterThan
                  .comparand
              }}</clr-control-error
            >
            <clr-control-error
              *ngIf="(formCustomerState$ | async).errors._max_amount?.lessThan"
              >Value must be less than
              {{
                (formCustomerState$ | async).errors._max_amount?.lessThan
                  .comparand
              }}</clr-control-error
            >
          </clr-input-container>
        </div>
        <div class="card-footer">
          <button
            class="btn btn-primary"
            type="submit"
            [clrLoading]="submitBtnState$ | async"
          >
            <clr-icon shape="floppy"></clr-icon>
            Save
          </button>
          <button
            class="btn"
            type="button"
            (click)="resetForm()"
            [disabled]="
              (formCustomerState$ | async).isPristine &&
              (formCustomerState$ | async).isUntouched &&
              (formCustomerState$ | async).isUnsubmitted
            "
          >
            <clr-icon shape="eraser"></clr-icon>
            Reset
          </button>
        </div>
      </div>
    </div>
  </form>
</app-page>
