<clr-vertical-nav [clrVerticalNavCollapsible]="true">
  <a clrVerticalNavLink routerLink="/" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
    Inicio
  </a>
  <clr-vertical-nav-group>
    <clr-icon shape="folder" clrVerticalNavIcon></clr-icon>
    Purchasing
    <clr-vertical-nav-group-children>
      <a clrVerticalNavLink routerLink="/purchasing/customer/search">
        <clr-icon shape="bolt" clrVerticalNavIcon></clr-icon>
        Search Customer
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
</clr-vertical-nav>
