<nav>
  <section class="sidenav-content">
    <a routerLink="/" class="nav-link active">Inicio</a>
    <section class="nav-group collapsible">
      <input id="purchasing" type="checkbox" />
      <label for="purchasing">Purchasing</label>
      <ul class="nav-list">
        <li>
          <a routerLink="/purchasing/customer/search" class="nav-link"
            >Search Customer</a
          >
        </li>
        <li>
          <a routerLink="/purchasing/customer/create" class="nav-link"
            >Create Customer</a
          >
        </li>
      </ul>
    </section>
  </section>
</nav>
