/* You can add global styles to this file, and also import other style files */

.nav-content {
  height: 100vh
}

.clr-control-container,
.clr-input-group,
.clr-control-container .clr-input,
.clr-control-container .clr-textarea,
.clr-control-container .clr-select-wrapper,
.clr-control-container .clr-select {
  width: 100%;
}

.clr-input-group .clr-input-group-icon-action {
  padding-left: 29px;
}
